---
import BaseLayout from '../../layouts/BaseLayout.astro'
import stats from '../../data/2020/stats.js';
const scores = stats.weeks.get(1);

function displayOutcome(didWin) {
  return didWin ? "🏆" : "";
}

function displayProjection(shouldWin) {
  return shouldWin ? "✔" : "";
}
---
<BaseLayout title="Week 1 Scoreboard">
  <table class="table table-striped">
    <thead>
      <th>Away Team</th>
      <th>Projected Win</th>
      <th>Score</th>
      <th>Win</th>
      <!-- <th>Win If Started Perfectly</th>
      <th>Win If Both Started Perfectly</th> -->

      <th>Home Team</th>
      <th>Projected Win</th>
      <th>Score</th>
      <th>Win</th>
      <!-- <th>Win If Started Perfectly</th>
      <th>Win If Both Started Perfectly</th> -->
    </thead>
    <tbody>
      {scores.map((score) => (
        <tr>
          <td>{score.away.teamName}</td>
          <td>{displayProjection(score.away.winProjection)}</td>
          <td>{score.away.totalPoints.toFixed(2)}</td>
          <td>{displayOutcome(score.away.didWin)}</td>

          <td>{score.home.teamName}</td>
          <td>{displayProjection(score.home.winProjection)}</td>
          <td>{score.home.totalPoints.toFixed(2)}</td>
          <td>{displayOutcome(score.home.didWin)}</td>
        </tr>
      ))}
      <!-- <td>Projected Win</td>
        <td>Win If Started Perfectly</td>
        <td>Win If Both Started Perfectly</td> -->
      
      <!-- <td>Projected Win</td>
        <td>Win If Started Perfectly</td>
        <td>Win If Both Started Perfectly</td> -->
    </tbody>
  </table>
</BaseLayout>
