---
import BaseLayout from '../../../layouts/BaseLayout.astro'

import teams from '../../../data/2020/teams.json';
import week1 from '../../../data/2020/week1.json';
const scores = week1.schedule.filter(s => s.matchupPeriodId === 1);

function teamName(id) {
  let team = teams[0].teams.find(t => t.id === id);
  return `${team.location} ${team.nickname}`;
}

function displayOutcome(didWin) {
  return didWin ? "🏆" : "😢";
}
---
<BaseLayout title="Homepage">
  <h2>Week 1 Scoreboard</h2>
  <table>
    <thead>
      <th>Away Team</th>
      <!-- <th>Projected Points</th>
      <th>Projected Win</th> -->
      <th>Score</th>
      <th>Win</th>
      <!-- <th>Actual vs Projected</th>
      <th>Bench</th>
      <th>Additional Points Possible</th>
      <th>Points Possible</th>
      <th>Win If Started Perfectly</th>
      <th>Win If Both Started Perfectly</th>
      <th>MVP</th>
      <th>LVP</th>
      <th>Bench MVP</th> -->

      <th>Home Team</th>
      <!-- <th>Projected Points</th>
      <th>Projected Win</th> -->
      <th>Score</th>
      <th>Win</th>
      <!-- <th>Actual vs Projected</th>
      <th>Bench</th>
      <th>Additional Points Possible</th>
      <th>Points Possible</th>
      <th>Win If Started Perfectly</th>
      <th>Win If Both Started Perfectly</th>
      <th>MVP</th>
      <th>LVP</th>
      <th>Bench MVP</th> -->
    </thead>
    <tbody>
      {scores.map((score) => (
        <tr>
          <td>{teamName(score.away.teamId)}</td>
          <td>{score.away.totalPoints}</td>
          <td>{displayOutcome(score.winner == "AWAY")}</td>
          
          <td>{teamName(score.home.teamId)}</td>
          <td>{score.home.totalPoints}</td>
          <td>{displayOutcome(score.winner == "HOME")}</td>
        </tr>
      ))}
      <!-- <td>Projected Points</td>
        <td>Projected Win</td> -->
      <!-- <td>Actual vs Projected</td>
        <td>Bench</td>
        <td>Additional Points Possible</td>
        <td>Points Possible</td>
        <td>Win If Started Perfectly</td>
        <td>Win If Both Started Perfectly</td>
        <td>MVP</td>
        <td>LVP</td>
        <td>Bench MVP</td> -->
      
      <!-- <td>Projected Points</td>
        <td>Projected Win</td> -->
      <!-- <td>Actual vs Projected</td>
        <td>Bench</td>
        <td>Additional Points Possible</td>
        <td>Points Possible</td>
        <td>Win If Started Perfectly</td>
        <td>Win If Both Started Perfectly</td>
        <td>MVP</td>
        <td>LVP</td>
        <td>Bench MVP</td> -->
    </tbody>
  </table>
</BaseLayout>
