---
import BaseLayout from '../../../layouts/BaseLayout.astro'

import teams from '../../../data/2020/raw/teams.json';
import week1 from '../../../data/2020/raw/weeks.json';
const scores = week1.schedule.filter(s => s.matchupPeriodId === 1);

function teamName(id) {
  let team = teams[0].teams.find(t => t.id === id);
  return `${team.location} ${team.nickname}`;
}

function displayOutcome(didWin) {
  return didWin ? "🏆" : "";
}
---
<BaseLayout title="Homepage">
  <h2>Week 1 Scoreboard</h2>
  <table class="table table-striped">
    <thead>
      <th>Away Team</th>
      <!-- <th>Projected Win</th> -->
      <th>Score</th>
      <th>Win</th>
      <!-- <th>Win If Started Perfectly</th>
      <th>Win If Both Started Perfectly</th> -->

      <th>Home Team</th>
      <!-- <th>Projected Win</th> -->
      <th>Score</th>
      <th>Win</th>
      <!-- <th>Win If Started Perfectly</th>
      <th>Win If Both Started Perfectly</th> -->
    </thead>
    <tbody>
      {scores.map((score) => (
        <tr>
          <td>{teamName(score.away.teamId)}</td>
          <td>{score.away.totalPoints}</td>
          <td>{displayOutcome(score.winner == "AWAY")}</td>
          
          <td>{teamName(score.home.teamId)}</td>
          <td>{score.home.totalPoints}</td>
          <td>{displayOutcome(score.winner == "HOME")}</td>
        </tr>
      ))}
      <!-- <td>Projected Win</td>
        <td>Win If Started Perfectly</td>
        <td>Win If Both Started Perfectly</td> -->
      
      <!-- <td>Projected Win</td>
        <td>Win If Started Perfectly</td>
        <td>Win If Both Started Perfectly</td> -->
    </tbody>
  </table>
</BaseLayout>
